[submodule "resources/datasets/BECauSEv2"]
	path = resources/datasets/BECauSEv2
	url = https://huggingface.co/datasets/thagen/BECauSEv2
[submodule "resources/datasets/SCITE"]
	path = resources/datasets/SCITE
	url = https://huggingface.co/datasets/thagen/SCITE
[submodule "resources/datasets/AltLex"]
	path = resources/datasets/AltLex
	url = https://huggingface.co/datasets/thagen/AltLex
[submodule "resources/datasets/CTB"]
	path = resources/datasets/CTB
	url = https://huggingface.co/datasets/thagen/CausalTimeBank
[submodule "resources/datasets/ESL"]
	path = resources/datasets/ESL
	url = https://huggingface.co/datasets/thagen/EventStoryLine
[submodule "resources/datasets/SemEval2010T8"]
	path = resources/datasets/SemEval2010T8
	url = https://huggingface.co/datasets/thagen/SemEval2010T8
[submodule "resources/datasets/PDTB3"]
	path = resources/datasets/PDTB3
	url = https://huggingface.co/datasets/thagen/PennDiscourseTreebankv3
[submodule "resources/datasets/CNC"]
	path = resources/datasets/CNC
	url = https://huggingface.co/datasets/thagen/CausalNewsCorpus
[submodule "resources/datasets/BioCause"]
	path = resources/datasets/BioCause
	url = https://huggingface.co/datasets/thagen/BioCause
[submodule "resources/datasets/CaTeRS"]
	path = resources/datasets/CaTeRS
	url = https://huggingface.co/datasets/thagen/CaTeRS
[submodule "resources/datasets/COPA"]
	path = resources/datasets/COPA
	url = https://huggingface.co/datasets/thagen/COPA
[submodule "resources/datasets/EventCausality"]
	path = resources/datasets/EventCausality
	url = https://huggingface.co/datasets/thagen/EventCausality
[submodule "resources/datasets/TCR"]
	path = resources/datasets/TCR
	url = https://huggingface.co/datasets/thagen/TCR
[submodule "resources/datasets/PubMedCausal"]
	path = resources/datasets/PubMedCausal
	url = https://huggingface.co/datasets/thagen/PubMedCausal
[submodule "resources/datasets/PolitiCause"]
	path = resources/datasets/PolitiCause
	url = https://huggingface.co/datasets/thagen/PolitiCause
[submodule "resources/datasets/CNCv2"]
	path = resources/datasets/CNCv2
	url = https://huggingface.co/datasets/thagen/CNCv2
[submodule "resources/datasets/FinCausal20"]
	path = resources/datasets/FinCausal20
	url = https://huggingface.co/datasets/thagen/FinCausal20
[submodule "resources/datasets/FinCausal23"]
	path = resources/datasets/FinCausal23
	url = https://huggingface.co/datasets/thagen/FinCausal23
[submodule "resources/datasets/SemEval2007T4"]
	path = resources/datasets/SemEval2007T4
	url = https://huggingface.co/datasets/thagen/SemEval2007T4
[submodule "resources/datasets/SemEval2020T5"]
	path = resources/datasets/SemEval2020T5
	url = https://huggingface.co/datasets/thagen/SemEval2020T5
